@import 'components/button/button.css';
@import 'base/variables.css';
@import 'base/normalize.css';
@import 'base/reset.css';
@import 'base/fonts.css';
@import 'base/flex.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'TT Norms', sans-serif;
    background-color: var(--white-color);
    color: var(--dark-color);
    box-sizing: border-box;
}

.page-wrapper {
    width: 100%;
    height: auto;
}

.text-blue {
    color: var(--blue-color);
}

.text-gradient {
    background: linear-gradient(85.63deg, #1C007F 0%, #A70096 25.11%, #FF005E 50.02%, #FF7800 75.18%, #FFBB00 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Header */
.header {
    width: 100%;
    height: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.08);
    z-index: 100;
}

.header-container {
    width: 100%;
    height: auto;
    padding: 16px 0px;
    position: relative;
}

.header-container__row {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20%;
    gap: 10px;
}

.brand {
    width: auto;
    height: auto;
}

.brand-image {
    width: auto;
    height: 32px;
}

.controllers {
    width: auto;
    height: auto;
    gap: 10px;
}

/* Hero section */
.hero {
    width: 100%;
    height: auto;
    position: relative;
}

.hero-container {
    width: 100%;
    height: auto;
    padding: 80px 0px;
    gap: 10px;
    position: relative;
    z-index: 3;
}

.hero-ellipse1 {
    width: 635px;
    height: 635px;
    position: absolute;
    top: -79px;
    left: 473px;
    border-radius: 50%;
    background-color: rgba(0, 170, 255, 0.2);
    filter: blur(130px);
    z-index: 1;
    transition: all 0.3s ease;
}

.hero-ellipse2 {
    width: 1074px;
    height: 1080px;
    position: absolute;
    top: -208px;
    left: 1098px;
    background-color: 50%;
    background-color: rgba(0, 238, 255, 0.1);
    filter: blur(130px);
    z-index: 1;
    transition: all 0.3s ease;
}
.hero-container__information {
    width: 549px;
    height: auto;
    gap: 24px;
}

.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
}

.hero-media {
    width: 100%;
    height: auto;
    gap: 16px;

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}

.hero-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.hero-controllers {
    width: 100%;
    height: auto;
    gap: 24px;
}

.hero-socialmedia {
    width: 100%;
    height: auto;
    gap: 8px;
}

.hero-socialmedia__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-color1);
}

.hero-socialmedia__items {
    width: 100%;
    height: auto;
    gap: 8px;
    
    img {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
}

.socialmedia-soon {
    width: 92px;
    height: 24px;
    padding: 0px 10px 0px 7px;
    background-color: var(--white-color);
    border-radius: 40px;
    gap: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
    overflow: hidden;

    .timer-icon {
        width: 12px;
        height: 12px;
        object-fit: cover;
    }

    p {
        font-weight: 500;
        font-size: 10px;
        color: var(--grey-color1);
        line-height: 12px;
    }

    .youtube-icon {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
}

.hero-container__images {
    width: auto;
    height: auto;
    position: relative;
}

.tablet-container {
    position: relative;
    width: 670.35px;
    height: 503.12px;
    margin: 0 auto;
    z-index: 2;
    filter: drop-shadow(125px 93px 63px rgba(0, 0, 0, 0.02)) 
            drop-shadow(71px 52px 53px rgba(0, 0, 0, 0.05)) 
            drop-shadow(31px 23px 39px rgba(0, 0, 0, 0.09)) 
            drop-shadow(8px 6px 21px rgba(0, 0, 0, 0.1));
  }
  
.ipad-pro {
    position: absolute;
    background: url('../assets/images/hero/ipad-pro.png');
    width: 670.35px;
    height: 503.12px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.tablet-image {
    position: absolute;
    width: 654.56px;
    height: 486.67px;
    top: 50%;
    left: 50%;
    background: url('../assets/images/hero/image-tablet.png');
    border-radius: 30px;
    transform: matrix(1, 0, 0, 1, 0, 0) translate(-50%, -50%);
}