@import 'components/features.css';
@import 'components/support.css';
@import 'components/sources.css';
@import 'components/reviews.css';
@import 'components/metrics.css';
@import 'components/footer.css';
@import 'components/header.css';
@import 'components/public.css';
@import 'components/button.css';
@import 'components/hero.css';
@import 'base/variables.css';
@import 'base/normalize.css';
@import 'base/reset.css';
@import 'base/fonts.css';
@import 'base/flex.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'TT Norms', sans-serif;
    background-color: var(--white-color);
    color: var(--dark-color);
    box-sizing: border-box;
}

.page-wrapper {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.text-blue {
    color: var(--blue-color);
}

.text-gradient {
    background: linear-gradient(85.63deg, #1C007F 0%, #A70096 45.00%, #FF005E 100.00%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}