/* Company */
.company-hero {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;
    font-family: Gilroy;
    color: var(--dark-color);
}

.company-hero__ellipse-1 {
    position: absolute;
    width: 635px;
    height: 635px;
    left: 458px;
    top: -344px;
    background: rgba(0, 170, 255, 0.12);
    filter: blur(130px);
    border-radius: 50%;
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.company-hero__container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 23% 30px 23%;
    align-items: center;
    gap: 16px;
    z-index: 3;

    img {
        width: 374px;
        height: auto;
    }

    p {
        width: 659px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
}

.company-overview {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.01);
    position: relative;
    font-family: Gilroy;
    color: var(--dark-color);
}

.company-overview__ellipse-1 {
    position: absolute;
    width: 630px;
    height: 630px;
    left: 1136px;
    top: 58.88px;
    background: rgba(255, 0, 191, 0.07);
    filter: blur(130px);
    border-radius: 50%;
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.company-overview__container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0px 23% 80px 23%;
    align-items: center;
    gap: 16px;
    z-index: 3;

    .company-metrics {
        width: auto;
        height: auto;
        gap: 96px;
        padding-bottom: 16px;
        transition: all 0.3s ease;

        .company-metric {
            width: auto;
            height: auto;
            gap: 0px;
            align-items: center;

            .company-metric__label {
                font-weight: 700;
                font-size: 48px;
                line-height: 58px;
                background: linear-gradient(85.63deg, #1C007F 0%, #A70096 100%);
                -webkit-background: linear-gradient(85.63deg, #1C007F 0%, #A70096 100%);
                -moz-background: linear-gradient(85.63deg, #1C007F 0%, #A70096 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                transition: all 0.3s ease;
            }

            .company-metric__caption {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                transition: all 0.3s ease;
            }
        }
    }

    .company-product__controllers {
        width: auto;
        height: auto;
        gap: 35px;

        .company-product__controller {
            width: auto;
            height: auto;
            position: relative;
            z-index: 4;
            transition: all 0.3s ease;

            .company-product__button {
                width: auto;
                height: auto;
                appearance: none;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    transition: all 0.3s ease;
                }
            }

            .company-product__rectangle {
                position: absolute;
                top: 30px;
                left: 50%;
                display: none;
                border: 30px solid transparent; 
                border-top: 30px solid transparent;
                transform: translateX(-50%) scale(0.4);
                z-index: 3;
            }

            &.company-product__controller__active {
                transform: translateY(10px) scale(1.3);

                .company-product__button {
                    &:hover {
                        transform: scale(1);
                    }
                }

                .company-product__rectangle {
                    display: inline-block;
                }
            }
        }

        #company-product__controller-1 {
            .company-product__rectangle  {
                border-top: 30px solid rgba(0, 89, 255, 1);
            }
        }

        #company-product__controller-2 {
            .company-product__rectangle {
                border-top: 30px solid rgba(157, 0, 255, 1);
            }
        }
        
        #company-product__controller-3 {
            .company-product__rectangle {
                border-top: 30px solid rgba(255, 59, 0, 1);
            }
        }
        
        #company-product__controller-4 {
            .company-product__rectangle {
                border-top: 30px solid rgba(89, 0, 255, 1);
            }
        }
    }

    .company-product {
        width: 100%;
        height: auto;
        background-color: rgba(250, 250, 250, 1);
        border-radius: 16px;
        position: relative;
        z-index: 3;
        overflow: hidden;
    }

    .company-product__information {
        width: 100%;
        height: auto;
        padding: 96px;
        gap: 80px;
    }

    #company-product-1 {
        display: none;

        .company-product__ellipse-1 {
            position: absolute;
            width: 428px;
            height: 386px;
            left: 350px;
            top: -149px;
            background: rgba(0, 149, 255, 0.16);
            filter: blur(130px);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .company-product__ellipse-2 {
            position: absolute;
            width: 842px;
            height: 630px;
            left: 596.82px;
            top: 204px;
            background: rgba(0, 238, 255, 0.16);
            filter: blur(130px);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .company-product__ellipse-3 {
            position: absolute;
            width: 563px;
            height: 508px;
            left: -144px;
            top: 211px;
            background: rgba(68, 0, 255, 0.09);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }
    }

    #company-product-2 {
        display: none;

        .company-product__ellipse-1 {
            position: absolute;
            width: 542px;
            height: 488px;
            left: -45px;
            top: -104.12px;
            background: rgba(68, 0, 255, 0.16);
            filter: blur(130px);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .company-product__ellipse-2 {
            position: absolute;
            width: 842px;
            height: 830px;
            left: 596.82px;
            top: 64px;
            background: rgba(255, 0, 242, 0.15);
            filter: blur(130px);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .company-product__ellipse-3 {
            position: absolute;
            width: 842px;
            height: 630px;
            left: -45px;
            top: 211px;
            background: rgba(0, 132, 255, 0.08);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }
    }

    #company-product-3 {
        display: none;

        .company-product__ellipse-1 {
            position: absolute;
            width: 542px;
            height: 488px;
            left: -45px;
            top: -104.12px;
            background: rgba(255, 166, 0, 0.16);
            filter: blur(130px);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .company-product__ellipse-2 {
            position: absolute;
            width: 842px;
            height: 830px;
            left: 596.82px;
            top: 64px;
            background: rgba(255, 0, 0, 0.15);
            filter: blur(130px);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .company-product__ellipse-3 {
            position: absolute;
            width: 842px;
            height: 630px;
            left: -45px;
            top: 211px;
            background: rgba(0, 132, 255, 0.08);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }
    }

    #company-product-4 {
        display: none;

        .company-product__ellipse-1 {
            position: absolute;
            width: 542px;
            height: 488px;
            left: -45px;
            top: -104.12px;
            background: rgba(0, 217, 255, 0.16);
            filter: blur(130px);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .company-product__ellipse-2 {
            position: absolute;
            width: 842px;
            height: 830px;
            left: 596.82px;
            top: 64px;
            background: rgba(72, 0, 255, 0.15);
            filter: blur(130px);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .company-product__ellipse-3 {
            position: absolute;
            width: 842px;
            height: 630px;
            left: -45px;
            top: 211px;
            background: rgba(0, 132, 255, 0.08);
            border-radius: 50%;
            filter: blur(130px);
            -webkit-filter: blur(130px);
            -moz-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }
    }
}

.company-benefits {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.01);
    position: relative;
    font-family: Gilroy;
    color: var(--dark-color);
    box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
}

.company-benefits__ellipse-1 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 1136px;
    top: 59px;
    background: rgba(0, 196, 255, 0.17);
    filter: blur(130px);
    border-radius: 50%;
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.company-benefits__container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 23%;
    align-items: center;
    gap: 96px;
    z-index: 3;

    .company-benefits__information {
        width: 366px;
        height: auto;
        gap: 24px;

        .information-title {
            width: 80%;
            font-size: 40px;
            font-weight: 700;
            line-height: 47px;
            text-align: left;

            .gradient-1 {
                background: linear-gradient(85.63deg, #53007F 0%, #A70096 50.48%, #FF005E 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            .gradient-2 {
                background: linear-gradient(85.63deg, #1C007F 0%, #A70096 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }

        .information-items {
            width: 100%;
            height: auto;
            gap: 14px;

            .information-item {
                width: 100%;
                height: auto;
                gap: 10px;

                .information-item__icon {
                    width: 24px;
                    height: 24px;
                }
                
                .information-item__label {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 23px;
                    text-align: left;
                }
            }
        }
    }

    .company-benefits__image {
        width: 516px;
        height: 400px;
        position: relative;
        z-index: 2;
        flex-shrink: 0;
        transition: all 0.3s ease;

        .image-icon {
            position: absolute;
            object-fit: cover;
        }

        .image-photo {
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            border-radius: 16px;
        }

        #image-icon-1 {
            top: 8.5%;
            left: 0px;
            z-index: 4;
            animation: animationScale 3s ease-in-out infinite;
        }

        #image-icon-2 {
            top: 1%;
            left: 45%;
            z-index: 4;
            animation: animationScale 5s ease-in-out infinite;
        }

        #image-icon-3 {
            top: 47%;
            left: 12%;
            z-index: 4;
            animation: animationScale 4s ease-in-out infinite;
        }

        #image-icon-4 {
            top: 50%;
            right: 0%;
            z-index: 4;
            animation: animationScale 5s ease-in-out infinite;
        }

        #image-icon-5 {
            bottom: 3%;
            left: 53%;
            z-index: 4;
            animation: animationScale 6s ease-in-out infinite;
        }

        #image-photo-1 {
            width: 265px;
            height: 124px;
            top: 14%;
            left: 0px;
            z-index: 3;
            animation: animationRotateRight 8s ease-in-out infinite;
        }

        #image-photo-2 {
            width: 230px;
            height: 200px;
            top: 0px;
            right: 0px;
            z-index: 3;
            animation: animationRotateLeft 8s ease-in-out infinite;
        }

        #image-photo-3 {
            width: 146px;
            height: 200px;
            bottom: 0px;
            left: 23%;
            z-index: 3;
            animation: animationRotateRight 10s ease-in-out infinite;
        }

        #image-photo-4 {
            width: 191;
            height: 124px;
            bottom: 15%;
            right: 9%;
            z-index: 3;
            animation: animationRotateLeft 10s ease-in-out infinite;
        }
    }
}

.company-advantages {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.01);
    position: relative;
    font-family: Gilroy;
    color: var(--dark-color);
}

.company-advantages__ellipse-1 {
    position: absolute;
    width: 630px;
    height: 630px;
    left: 590px;
    top: -89px;
    background: rgba(157, 0, 255, 0.07);
    filter: blur(130px);
    border-radius: 50%;
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.company-advantages__container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 23%;
    align-items: center;
    gap: 96px;
    z-index: 3;

    .company-advantages__information {
        width: 461px;
        height: auto;
        gap: 24px;

        .information-title {
            font-size: 40px;
            font-weight: 700;
            line-height: 47px;
            text-align: left;

            .gradient-1 {
                background: linear-gradient(85.63deg, #53007F 0%, #A70096 50.48%, #FF005E 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            .gradient-2 {
                background: linear-gradient(85.63deg, #1C007F 0%, #A70096 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }

        .information-items {
            width: 100%;
            height: auto;
            gap: 14px;

            .information-item {
                width: 100%;
                height: auto;
                gap: 10px;

                .information-item__icon {
                    width: 24px;
                    height: 24px;
                }
                
                .information-item__label {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 23px;
                    text-align: left;
                }
            }
        }
    }

    .company-advantages__image {
        width: 516px;
        height: 400px;
        position: relative;
        z-index: 2;
        flex-shrink: 0;
        transition: all 0.3s ease;

        .image-icon {
            position: absolute;
            object-fit: cover;
        }

        .image-photo {
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            border-radius: 16px;
        }

        #image-icon-1 {
            top: 8.5%;
            left: 0px;
            z-index: 4;
            animation: animationScale 3s ease-in-out infinite;
        }

        #image-icon-2 {
            top: 1%;
            left: 45%;
            z-index: 4;
            animation: animationScale 5s ease-in-out infinite;
        }

        #image-icon-3 {
            top: 47%;
            left: 12%;
            z-index: 4;
            animation: animationScale 4s ease-in-out infinite;
        }

        #image-icon-4 {
            top: 50%;
            right: 0%;
            z-index: 4;
            animation: animationScale 5s ease-in-out infinite;
        }

        #image-icon-5 {
            bottom: 3%;
            left: 53%;
            z-index: 4;
            animation: animationScale 6s ease-in-out infinite;
        }

        #image-photo-1 {
            width: 265px;
            height: 124px;
            top: 14%;
            left: 0px;
            z-index: 3;
            animation: animationRotateRight 8s ease-in-out infinite;
        }

        #image-photo-2 {
            width: 230px;
            height: 200px;
            top: 0px;
            right: 0px;
            z-index: 3;
            animation: animationRotateLeft 8s ease-in-out infinite;
        }

        #image-photo-3 {
            width: 146px;
            height: 200px;
            bottom: 0px;
            left: 23%;
            z-index: 3;
            animation: animationRotateRight 10s ease-in-out infinite;
        }

        #image-photo-4 {
            width: 191;
            height: 124px;
            bottom: 15%;
            right: 9%;
            z-index: 3;
            animation: animationRotateLeft 10s ease-in-out infinite;
        }
    }
}

@media (max-width: 1920px) {
    .company-hero__container {
        padding: 80px 10% 30px 10%;
    }

    .company-overview__container {
        padding: 0px 10% 80px 10%;
    }

    .company-benefits__container {
        padding: 80px 10%;
    }

    .company-advantages__container {
        padding: 80px 10%;
    }
}

@media (max-width: 1440px) {
    .company-hero__container {
        padding: 80px 64px 30px 64px;
    }

    .company-overview__container {
        padding: 0px 64px 80px 64px;
    }

    .company-benefits__container {
        padding: 80px 64px;

        .company-benefits__information {
            width: 362px;
    
            .information-items {
                .information-item {
                    .information-item__label {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .company-advantages__container {
        padding: 80px 64px;

        .company-advantages__information {
            width: 454px;
    
            .information-items {
                .information-item {
                    .information-item__label {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .company-benefits__container {
        .company-benefits__image {
            transform: scale(0.8);
        }
    }

    .company-advantages__container {
        .company-advantages__image {
            transform: scale(0.8);
        }
    }
}

@media (max-width: 1100px) {
    .company-advantages__container {
        gap: 32px;
        padding: 40px 32px;

        .company-advantages__information {
            width: auto;

            .information-title {
                font-size: 32px;
                line-height: 38px;
            }
    
            .information-items {
                .information-item {
                    .information-item__label {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .company-hero__container {
        padding: 80px 32px 30px 32px;
    }

    .company-overview__container {
        padding: 0px 32px 40px 32px;

        .company-product__information {
            padding: 48px;
            gap: 32px;
        }
    }

    .company-benefits__container {
        gap: 32px;
        padding: 40px 32px;

        .company-benefits__information {
            width: auto;

            .information-title {
                font-size: 32px;
                line-height: 38px;
            }
    
            .information-items {
                .information-item {
                    .information-item__label {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1020px) {
    .company-overview__container {
        .company-metrics {
            gap: 32px;
            flex-wrap: wrap;
    
            .company-metric {
                .company-metric__label {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 38px;
                    text-wrap: nowrap;
                }
    
                .company-metric__caption {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    text-wrap: nowrap;
                }
            }
        }
    }

    .company-benefits__container {
        .company-benefits__image {
            transform: scale(1);
            width: 391px;
            height: 302px;

            #image-photo-1 {
                width: 200px;
                height: 94px;
            }
    
            #image-photo-2 {
                width: 174px;
                height: 152px;
            }
    
            #image-photo-3 {
                width: 111px;
                height: 151px;
            }
    
            #image-photo-4 {
                width: 145px;
                height: 94px;
            }
        }
    }

    .company-advantages__container {
        .company-advantages__image {
            transform: scale(1);
            width: 316px;
            height: 244px;

            #image-photo-1 {
                width: 162px;
                height: 76px;
            }
    
            #image-photo-2 {
                width: 141px;
                height: 122px;
            }
    
            #image-photo-3 {
                width: 90px;
                height: 122px;
            }
    
            #image-photo-4 {
                width: 117px;
                height: 76px;
            }
        }
    }
}

@media (max-width: 920px) {
    .company-benefits__container {
        .company-benefits__information {
            width: auto;

            .information-title {
                font-size: 24px;
                line-height: 28px;
            }
    
            .information-items {
                .information-item {
                    .information-item__label {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 19px;
                    }
                }
            }
        }
    }

    .company-advantages__container {
        .company-advantages__information {
            width: auto;

            .information-title {
                font-size: 24px;
                line-height: 28px;
            }
    
            .information-items {
                .information-item {
                    .information-item__label {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .company-hero__container {
        padding: 30px 24px 16px 24px;

        img {
            width: 254px;
            height: auto;
        }

        p {
            width: 100%;
        }
    }

    .company-overview__container {
        padding: 0px 24px 30px 24px;

        .company-metrics {
            gap: 32px;
            flex-wrap: wrap;
            justify-content: center;
    
            .company-metric {
                .company-metric__label {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 38px;
                    text-wrap: nowrap;
                }
    
                .company-metric__caption {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    text-wrap: nowrap;
                }
            }
        }

        .company-product__information {
            padding: 24px;
        }
    }

    .company-benefits__container {
        padding: 32px 24px;

        .company-benefits__information {
            min-width: 297px;

            .information-title {
                width: 100%;
            }
        }
    }

    .company-advantages__container {
        padding: 32px 24px;

        .company-advantages__information {
            min-width: 297px;

            .information-title {
                width: 100%;
            }
        }
    }
}

@media (max-width: 760px) {
    .company-benefits__container {
        flex-direction: column !important;
    }

    .company-advantages__container {
        flex-direction: column-reverse !important;
    }
}

@media (max-width: 460px) {
    .company-benefits__container {
        .company-benefits__image {
            transform: scale(0.8);
        }
    }

    .company-advantages__container {
        .company-advantages__image {
            transform: scale(0.8);
        }
    }
}

@media (max-width: 375px) {
    .company-hero__container {
        padding: 24px 16px 8px 16px;

        img {
            width: 193px;
        }

        p {
            font-size: 14px;
            line-height: 16px;
        }
    }

    .company-overview__container {
        padding: 0px 16px 30px 16px;

        .company-product__information {
            padding: 16px;
            gap: 16px;
        }

        .company-product__controllers {
            gap: 24px;
        }
    }

    .company-benefits__container {
        gap: 16px;
    }

    .company-advantages__container {
        gap: 16px;
    }
}

@keyframes animationScale {
    0%, 100% {
        transform: translate(0, 0);
        scale: 1;
    }
    25% {
        transform: translate(5px, -5px);
    }
    50% {
        transform: translate(-5px, 5px);
        scale: 1.1;
    }
    75% {
        transform: translate(3px, -3px);
    }
}

@keyframes animationRotateRight {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(0px, -5px) rotate(2deg);
    }
    75% {
        transform: translate(-5px, -3px);
    }
}

@keyframes animationRotateLeft {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(0px, 10px);
    }
    50% {
        transform: translate(0px, -5px) rotate(-2deg);
    }
    75% {
        transform: translate(-5px, -3px);
    }
}