/* FAQ */
.faq-hero {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;
    font-family: Gilroy;
    background: linear-gradient(180deg, #FFFFFF 0%, #EFF8FF 100%);
    color: var(--dark-color);
}

.faq-hero__ellipse-1 {
    position: absolute;
    width: 635px;
    height: 635px;
    left: 441px;
    top: 156px;
    background: rgba(0, 170, 255, 0.12);
    filter: blur(130px);
    border-radius: 50%;
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.faq-hero__ellipse-2 {
    position: absolute;
    width: 1074px;
    height: 1080px;
    left: 1098px;
    top: -288px;
    background: rgba(0, 238, 255, 0.1);
    filter: blur(130px);
    border-radius: 50%;
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.faq-hero__ellipse-3 {
    position: absolute;
    width: 389px;
    height: 389px;
    left: 31px;
    top: 220px;
    background: #FFFFFF;
    filter: blur(130px);
    border-radius: 50%;
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.faq-hero__container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 23%;
    align-items: center;
    gap: 96px;
    z-index: 3;
    transition: all 0.3s ease;

    .faq-hero__group {
        width: 664px;
        height: auto;
        gap: 16px;
        transition: all 0.3s ease;

        .group-title {
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            text-align: left;
            transition: all 0.3s ease;
        }

        .group-description {
            font-size: 16px;
            font-weight: 700;
            line-height: 23px;
            text-align: left;
            transition: all 0.3s ease;
        }
    }

    .faq-hero__search {
        width: calc(100% - 96px - 664px);
        height: auto;
        position: relative;
        z-index: 3;
        transition: all 0.3s ease;

        .search-field {
            width: 100%;
            height: 72px;
            appearance: none;
            outline: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px 64px 8px 32px;
            gap: 10px;
            background: rgba(255, 255, 255, 0.6);
            border: 2px solid #FFFFFF;
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
            -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
            -moz-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
            border-radius: 40px;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: rgba(0, 89, 255, 1);
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                border-radius: 32px;
            }

            &:active {
                border-radius: 30px;
            }

            &:focus {
                border-radius: 30px;
            }

            &::placeholder {
                color: rgba(99, 148, 183, 1);
            }
        }

        .search-button {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 56px;
            height: 56px;
            appearance: none;
            outline: none;
            border: none;
            border-radius: 50%;
            background-color: rgba(0, 89, 255, 1);
            transition: all 0.3s ease;

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            img {
                width: 32px;
                height: 32px;
                object-fit: cover;
                transition: all 0.3s ease;
            }
        }
    }
}

.faq-hero__background {
    position: absolute;
    width: auto;
    height: 368px;
    bottom: -20px;
    right: 23%;
    object-fit: cover;
    z-index: 2;
}

.mobile-version {
    display: none !important;
}

.faq-overview {
    width: 100%;
    height: auto;
    position: relative;
    padding: 60px 23%;
    gap: 40px;
    z-index: 3;
    transition: all 0.3s ease;

    .faq-overview__ellipse-1 {
        position: absolute;
        width: 804px;
        height: 804px;
        left: 1202px;
        top: 476px;
        background: rgba(255, 0, 183, 0.08);
        filter: blur(130px);
        border-radius: 50%;
        -webkit-filter: blur(130px);
        -moz-filter: blur(130px);
        will-change: transform;
        z-index: 1;
    }

    .faq-overview__topics {
        width: 300px;
        height: auto;
        gap: 24px;
        transition: all 0.3s ease;
        z-index: 3;

        .topic-item {
            width: 100%;
            height: 64px;
            padding: 16px 24px;
            gap: 8px;
            background: rgba(255, 255, 255, 0.2);
            border: 2px solid var(--white-color);
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                border-radius: 14px;
                transform: scale(1.1);
            }

            .topic-item__icon {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }

            .topic-item__label {
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: rgba(99, 148, 183, 1);
            }
        }

        .topic-item__active {
            border: 2px solid rgba(0, 89, 255, 1);
            color: rgba(0, 89, 255, 1);

            .topic-item__label {
                color: rgba(0, 89, 255, 1);
            }

            .topic-item__icon {
                filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(1435%) hue-rotate(200deg) brightness(100%) contrast(100%);
            }
        }
    }

    .topic-group__mobile {
        width: 100%;
        height: auto;
        gap: 40px;
    }

    .faq-overview__topics-mobile {
        width: 100%;
        height: auto;
        gap: 24px;
        transition: all 0.3s ease;
        z-index: 3;

        .topic-item__mobile {
            width: 100%;
            height: 64px;
            padding: 16px 24px;
            gap: 8px;
            background: rgba(255, 255, 255, 0.2);
            border: 2px solid var(--white-color);
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
            justify-content: space-between;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                border-radius: 14px;
                transform: scale(1.05);
            }

            .topic-item__container {
                gap: 8px;
            }

            .topic-item__icon {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }

            .topic-item__label {
                font-size: 18px;
                font-weight: 600;
                line-height: 21px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: rgba(99, 148, 183, 1);
            }

            .topic-item__arrow {
                width: 16px;
                height: 16px;
                object-fit: cover;
                transition: all 0.3s ease;
            }
        }

        .topic-item__active {
            transform: scale(1.05);
            border: 2px solid rgba(0, 89, 255, 1);
            color: rgba(0, 89, 255, 1);

            .topic-item__label {
                color: rgba(0, 89, 255, 1);
            }

            .topic-item__icon {
                filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(1435%) hue-rotate(200deg) brightness(100%) contrast(100%);
            }

            .topic-item__arrow {
                transform: rotate(180deg);
            }
        }
    }

    .faq-overview__questions {
        width: calc(100% - 300px);
        height: auto;
        gap: 12px;
        transition: all 0.3s ease;

        .question-item {
            width: 100%;
            min-height: 51px;
            max-height: 51px;
            overflow: hidden;
            flex-shrink: 0;
            padding: 16px 24px;
            gap: 16px;
            background: rgba(255, 255, 255, 0.4);
            border: 2px solid #FFFFFF;
            border-radius: 4px;
            z-index: 3;
            cursor: pointer;
            transition: all 0.4s ease;

            &:hover {
                transform: scale(1.01);
            }

            &.question-item__open {
                max-height: 300px;

                .question-item__ask {
                    .ask-icon {
                        transform: rotate(180deg);
                    }
                }
            }

            .question-item__ask {
                width: 100%;
                height: auto;
                justify-content: space-between;
                gap: 10px;

                .ask-label {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .ask-icon {
                    width: 16px;
                    height: 16px;
                    object-fit: cover;
                    transition: all 0.3s ease;
                }
            }

            .question-item__answer {
                width: 100%;
                height: auto;
                padding-top: 16px;
                border-top: 1px solid rgba(99, 148, 183, 1);
                overflow: auto;
                transition: all 0.3s ease;

                .answer-value {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 21px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }
        }
    }

    .faq-overview__questions-mobile {
        width: 100%;
        height: auto;
        display: none;
        gap: 12px;
        transition: all 0.3s ease;
        z-index: 3;

        .question-item__mobile {
            width: 100%;
            min-height: 51px;
            max-height: 51px;
            overflow: hidden;
            flex-shrink: 0;
            padding: 16px 24px;
            gap: 16px;
            background: rgba(255, 255, 255, 0.4);
            border: 2px solid #FFFFFF;
            border-radius: 4px;
            z-index: 3;
            cursor: pointer;
            transition: all 0.4s ease;

            &:hover {
                transform: scale(1.01);
            }

            &.question-item__open {
                max-height: 300px;

                .question-item__ask {
                    .ask-icon {
                        transform: rotate(180deg);
                    }
                }
            }

            .question-item__ask {
                width: 100%;
                height: auto;
                justify-content: space-between;
                gap: 10px;

                .ask-label {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .ask-icon {
                    width: 16px;
                    height: 16px;
                    object-fit: cover;
                    transition: all 0.3s ease;
                }
            }

            .question-item__answer {
                width: 100%;
                height: auto;
                padding-top: 16px;
                border-top: 1px solid rgba(99, 148, 183, 1);
                overflow: auto;
                transition: all 0.3s ease;

                .answer-value {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 21px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }
        }
    }
}

@media (max-width: 1920px) {
    .faq-hero__container {
        padding: 80px 10%;
    }

    .faq-overview {
        padding: 60px 10%;

        .faq-overview__ellipse-1 {
            left: 802px;
        }
    }

    .faq-hero__background {
        right: 0%;
    }
}

@media (max-width: 1440px) {
    .faq-hero__container {
        padding: 80px 64px;

        .faq-hero__group {
            .group-description {
                font-weight: 500;
            }
        }

        .faq-hero__search {
            .search-field {
                font-weight: 500;
            }
        }
    }

    .faq-overview {
        padding: 60px 64px;

        .faq-overview__questions {
            .question-item {
                .question-item__ask {
                    .ask-label {
                        font-weight: 500;
                    }
                }
    
                .question-item__answer {
                    .answer-value {
                        font-weight: 500;
                    }
                }
            }
        }

        .faq-overview__ellipse-1 {
            left: 676px;
        }
    }

    .faq-hero__background {
        right: -10%;
    }
}

@media (max-width: 1368px) {
    .faq-hero__container {
        gap: 40px;

        .faq-hero__group {
            width: calc(100% - 440px);
        }
    
        .faq-hero__search {
            width: 400px;
        }
    }
}

@media (max-width: 1024px) {
    .faq-hero__container {
        padding: 40px 32px;
        gap: 40px;

        .faq-hero__group {
            width: 60%;
    
            .group-title {
                font-size: 40px;
                line-height: 47px;
            }
        }

        .faq-hero__search {
            width: 40%;
        }
    }

    .faq-overview {
        padding: 40px 32px;
    }

    .faq-hero__background {
        height: 255px;
        bottom: -10px;
    }

    .faq-overview {
        .faq-overview__ellipse-1 {
            left: 644px;
        }
    }
}

@media (max-width: 768px) {
    .faq-hero__container {
        padding: 32px 24px;
        gap: 16px;
        flex-direction: column !important;

        .faq-hero__group {
            width: 100%;
    
            .group-title {
                font-size: 32px;
                line-height: 38px;
            }
        }

        .faq-hero__search {
            width: 100%;
        }
    }

    .faq-hero__ellipse-1 {
        left: 31px;
    }

    .desktop-version {
        display: none !important;
    }

    .mobile-version {
        display: flex !important;
    }

    .faq-overview {
        .faq-overview__ellipse-1 {
            left: 46px;
        }
    }
}

@media (max-width: 580px) {
    .faq-hero__background {
        height: 200px;
    }
}

@media (max-width: 460px) {
    .faq-hero__container {
        .faq-hero__search {
            
            .search-field {
                height: 58px;
                font-size: 16px;
                line-height: 19px;
            }

            .search-button {
                width: 42px;
                height: 42px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .faq-hero__ellipse-3 {
        top: 220px;
        left: -59px;
        background: rgba(207, 222, 255, 1);
    }

    .faq-hero__background {
        height: 160px;
    }

    .faq-overview {
        .topic-group__mobile {
            gap: 16px;
        }

        .faq-overview__topics-mobile {
            width: 100%;
            height: auto;
            gap: 24px;
            transition: all 0.3s ease;
            z-index: 3;
    
            .topic-item__mobile {
                width: 100%;
                min-height: 40px;
                height: auto;
                padding: 8px 16px;
                gap: 8px;
                background: rgba(255, 255, 255, 0.2);
                border: 2px solid var(--white-color);
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
                justify-content: space-between;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.3s ease;
    
                &:hover {
                    border-radius: 10px;
                }
    
                .topic-item__icon {
                    width: 24px;
                    height: 24px;
                    object-fit: cover;
                }
    
                .topic-item__label {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 16px;
                }
            }
        }

        .faq-overview__questions-mobile {
            width: 100%;
            height: auto;
            display: none;
            gap: 12px;
            transition: all 0.3s ease;
            z-index: 3;
    
            .question-item__mobile {
                width: 100%;
                min-height: 32px;
                max-height: 32px;
                padding: 8px 16px;
                gap: 8px;

                .question-item__ask {
                    .ask-label {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        text-wrap: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
    
                .question-item__answer {
                    padding-top: 8px;
    
                    .answer-value {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .faq-hero__container {
        padding: 24px 16px;

        .faq-hero__group {
            .group-title {
                font-size: 24px;
                line-height: 28px;
            }

            .group-description {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .faq-hero__background {
        height: 146px;
    }

    .faq-overview {
        .faq-overview__ellipse-1 {
            left: 38px;
        }
    }
}