/* Products */
.tariffs-hero {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #FFFFFF 0%, #EFF8FF 100%);
    -webkit-background: linear-gradient(180deg, #FFFFFF 0%, #EFF8FF 100%);
    -moz-background: linear-gradient(180deg, #FFFFFF 0%, #EFF8FF 100%);
    position: relative;
    font-family: Gilroy;
    color: var(--dark-color);

    .tariffs-hero__ellipse-1 {
        position: absolute;
        width: 635px;
        height: 635px;
        left: 441px;
        top: 156px;
        background: rgba(0, 170, 255, 0.12);
        border-radius: 50%;
        filter: blur(130px);
        -webkit-filter: blur(130px);
        -moz-filter: blur(130px);
        will-change: transform;
        z-index: 1;
    }
    
    .tariffs-hero__ellipse-2 {
        position: absolute;
        width: 1074px;
        height: 1080px;
        left: 1098px;
        top: -288px;
        background: rgba(0, 238, 255, 0.1);
        border-radius: 50%;
        filter: blur(130px);
        -webkit-filter: blur(130px);
        -moz-filter: blur(130px);
        will-change: transform;
        z-index: 1;
    }
    
    .tariffs-hero__container {
        width: 100%;
        height: auto;
        position: relative;
        padding: 80px 23% 40px 23%;
        gap: 16px;
        z-index: 3;
    }
    
    .tariffs-hero__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        text-align: left;
        transition: all 0.3s ease;
    }
    
    .tariffs-hero__description {
        width: 700px;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        text-align: left;
        transition: all 0.3s ease;
    }
    
    .tariffs-hero__payment {
        width: 100%;
        height: auto;
        gap: 96px;
        align-items: end;
        transition: all 0.3s ease;
    
        .payment-selector {
            width: 700px;
            height: auto;
            gap: 16px;
            transition: all 0.3s ease;
    
            .payment-selector__label {
                font-size: 16px;
                font-weight: 600;
                line-height: 23px;
                text-align: left;
    
                .text-gradient {
                    background: linear-gradient(85.63deg, #1C007F 0%, #A70096 25.11%, #FF005E 50.02%, #FF7800 75.18%, #FFBB00 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }

            .payment-selector__slider {
                width: 100%;
                height: auto;
                gap: 5px;

                .slider-marks {
                    width: 100%;
                    height: auto;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    .slider-mark {
                        width: 20px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 23px;
                        text-align: center;
                        user-select: none;
                    }
                }

                .slider-input {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 3;

                    .slider-input__range {
                        width: 100%;
                        -webkit-appearance: none;
                        appearance: none;
                        position: relative;
                        height: 8px;
                        border-radius: 30px;
                        background: linear-gradient(to right, 
                            #1C007F 0%, 
                            #A70096 25.11%, 
                            #FF005E 50.02%, 
                            #FF7800 75.18%, 
                            #FFBB00 100%) var(--white-color);
                        background-size: var(--value, 0%) 100%;
                        background-repeat: no-repeat;
                        outline: none;
                    }
                    
                    .slider-input__range::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 24px;
                        height: 34px;
                        background: url('../../assets/images/tariffs/thumb.svg') no-repeat center;
                        background-size: cover;
                        cursor: pointer;
                    }
                    
                    .slider-input__range::-moz-range-thumb {
                        width: 24px;
                        height: 34px;
                        background: url('../../assets/images/tariffs/thumb.svg') no-repeat center;
                        background-size: cover;
                        cursor: pointer;
                    }
                }

                .ellipse {
                    position: absolute;
                    top: 6px;
                    width: 10px;
                    height: 10px;
                    background: #D9D9D9;
                    border-radius: 50%;
                    z-index: 3;
                    user-select: none;
                }

                .ellipse-1 { left: 0px; }

                .ellipse-2 { left: calc((100% - 10px) / 11); }

                .ellipse-3 { left: calc((100% - 10px) / 11 * 2); }

                .ellipse-4 { left: calc((100% - 10px) / 11 * 3); }

                .ellipse-5 { left: calc((100% - 10px) / 11 * 4); }

                .ellipse-6 { left: calc((100% - 10px) / 11 * 5); }

                .ellipse-7 { left: calc((100% - 10px) / 11 * 6); }

                .ellipse-8 { left: calc((100% - 10px) / 11 * 7); }

                .ellipse-9 { left: calc((100% - 10px) / 11 * 8); }

                .ellipse-10 { left: calc((100% - 10px) / 11 * 9); }

                .ellipse-11 { left: calc((100% - 10px) / 11 * 10); }

                .ellipse-12 { left: calc(100% - 10px); }
            }
        }
    
        .payment-controllers {
            width: auto;
            height: auto;
            padding: 8px;
            border-radius: 8px;
            background-color: var(--white-color);
            gap: 4px;
    
            .payment-button {
                width: auto;
                height: 51px;
                appearance: none;
                outline: none;
                border: none;
                padding: 16px 24px;
                background-color: var(--white-color);
                border-radius: 4px;
                gap: 2px;
                cursor: pointer;
                transition: all 0.3s ease;
    
                &.payment-button__active {
                    height: 61px;
                    background-color: var(--blue-color);
    
                    &:hover {
                        transform: scale(1.05);
                    }
    
                    .payment-button__label {
                        color: var(--white-color);
                    }
    
                    .payment-button__caption {
                        color: var(--white-color);
                    }
                }
    
                &:hover {
                    height: 61px;
                    background-color: var(--blue-color);
    
                    .payment-button__label {
                        color: var(--white-color);
                    }
    
                    .payment-button__caption {
                        color: var(--white-color);
                    }
                }
    
                .payment-button__label {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    text-align: center;
                    color: var(--blue-color);
                    transition: all 0.3s ease;
                }
    
                .payment-button__caption {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                    text-align: center;
                    color: var(--blue-color);
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.tariffs {
    width: 100%;
    height: auto;
    position: relative;
    font-family: Gilroy;
    color: var(--dark-color);
    z-index: 1;
}

.tariffs-container {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.tariffs-container__tariffs {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 80px 23%;
    z-index: 3;
    gap: 32px;
    transition: all 0.3s ease;

    .tariff-card {
        width: 438px;
        height: auto;
        padding: 40px;
        flex-shrink: 0;
        gap: 24px;
        border: 2px solid var(--white-color);
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.7);
        overflow: hidden;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease;

        .tariff-card__header {
            width: 100%;
            height: auto;
            gap: 24px;
            transition: all 0.3s ease;

            .header-image {
                width: 80px;
                height: 77px;
                object-fit: cover;
                transition: all 0.3s ease;
            }

            .header-container {
                width: auto;
                height: auto;
                gap: 8px;
                padding: 0px !important;
                transition: all 0.3s ease;

                .header-title {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 38px;
                    transition: all 0.3s ease;
                }

                #tariff-card__title-1 {
                    background: linear-gradient(85.63deg, #1C007F 0%, #A70096 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                #tariff-card__title-2 {
                    background: linear-gradient(85.63deg, #53007F 0%, #A70096 50.48%, #FF005E 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                #tariff-card__title-3 {
                    background: linear-gradient(85.63deg, #1C007F 0%, #A70096 25.11%, #FF005E 50.02%, #FF7800 75.18%, #FFBB00 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                .header-price {
                    width: 100%;
                    height: auto;
                    gap: 8px;
                    transition: all 0.3s ease;

                    .header-price__value {
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 25px;
                        text-wrap: nowrap;
                        transition: all 0.3s ease;
                    }

                    .header-price__caption {
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        transition: all 0.3s ease;
                    }

                    .header-price__subscription {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: rgba(200, 0, 63, 1);
                        text-wrap: nowrap;
                        transition: all 0.3s ease;
                    }
                }
            }
        }

        .tariff-card__features {
            width: 100%;
            height: auto;
            gap: 10px;
            transition: all 0.3s ease;

            .features-item {
                width: 100%;
                height: auto;
                gap: 10px;
                transition: all 0.3s ease;

                img {
                    width: 24px;
                    height: 24px;
                    object-fit: cover;
                    transition: all 0.3s ease;
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    transition: all 0.3s ease;
                }

                .features-item__inactive {
                    background: rgba(99, 148, 183, 1);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }
        }

        #tariff-card__button-1 {
            background: linear-gradient(85.63deg, #1C007F 0%, #A70096 100%);

            p {
                font-weight: 600;
                color: var(--white-color);
                text-wrap: nowrap;
            }
        }

        #tariff-card__button-2 {
            background: linear-gradient(85.63deg, #53007F 0%, #A70096 50.48%, #FF005E 100%);

            p {
                font-weight: 600;
                color: var(--white-color);
                text-wrap: nowrap;
            }
        }

        #tariff-card__button-3 {
            background: linear-gradient(85.63deg, #1C007F 0%, #A70096 25.11%, #FF005E 50.02%, #FF7800 75.18%, #FFBB00 100%);

            p {
                font-weight: 600;
                color: var(--white-color);
                text-wrap: nowrap;
            }
        }
    }
}

.tariffs-container__support {
    width: 100%;
    height: auto;
    position: relative;
    padding: 96px 23%;
    z-index: 3;
    gap: 48px;
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.06);

    .support-ellipse-1 {
        position: absolute;
        width: 406px;
        height: 406px;
        left: 1494px;
        top: 175px;
        background: rgba(255, 0, 191, 0.37);
        filter: blur(130px);
        -webkit-filter: blur(130px);
        will-change: transform;
        z-index: 1;
        animation: none !important;
    }

    .support-header {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 3;
        gap: 8px;

        .support-header__caption {
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0.04em;
            color: var(--grey-color2);
            text-transform: uppercase;
            transition: all 0.3s ease;
        }

        .support-header__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
        }
    }

    .support-container {
        width: 100%;
        height: auto;
        gap: 10px;
        justify-content: space-between;
        padding: 0px !important;
        z-index: 3;

        .support-list {
            width: 643px;
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 96px;
            grid-row-gap: 46px;
            z-index: 4;
            transition: all 0.3s ease;

            .support-list__item {
                width: 273px;
                height: auto;
                flex-shrink: 0;
                gap: 16px;
                transition: all 0.3s ease;

                img {
                    width: 88px;
                    height: 88px;
                    object-fit: cover;
                    transition: all 0.3s ease;
                }

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                }
            }

            #support-list-1 {grid-area: 1 / 1 / 2 / 2;}

            #support-list-2 {grid-area: 1 / 2 / 2 / 3;}

            #support-list-4 {grid-area: 2 / 1 / 3 / 2;}

            #support-list-4 {grid-area: 2 / 2 / 3 / 3;}
        }

        .support-image__container {
            z-index: 2;
        }
    }
}

.tariffs-container__help {
    width: 100%;
    height: auto;
    position: relative;
    padding: 96px 23%;
    z-index: 3;
    gap: 48px;

    .help-header {
        width: 100%;
        height: auto;

        .help-header__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
        }
    }

    .help-container {
        width: 100%;
        height: auto;
        position: relative;
        padding: 40px;
        gap: 40px;
        border-radius: 8px;
        background: rgba(250, 250, 250, 1);
        justify-content: space-between;
        overflow: hidden;
        z-index: 1;
        transition: all 0.3s ease;

        .help-container__ellipse-1 {
            position: absolute;
            width: 355px;
            height: 355px;
            left: -105px;
            top: -178px;
            background: rgba(255, 26, 0, 0.07);
            filter: blur(130px);
            -webkit-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .help-container__ellipse-2 {
            position: absolute;
            width: 651px;
            height: 651px;
            left: 646px;
            top: -99px;
            background: rgba(153, 0, 255, 0.07);
            filter: blur(130px);
            -webkit-filter: blur(130px);
            will-change: transform;
            z-index: 1;
        }

        .help-container__image {
            width: 88px;
            height: 88px;
            object-fit: cover;
            transition: all 0.3s ease;
        }

        .help-container__text {
            width: calc(100% - 80px - 88px - 172px);
            height: auto;
            gap: 8px;
        }

        .help-container__title {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
        }

        .help-container__description {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
    }
}

@media (max-width: 1920px) {
    .tariffs-hero {
        .tariffs-hero__container {
            padding: 80px 10% 40px 10%;
        }
    }

    .tariffs-container__tariffs {
        padding: 80px 10%;
    }

    .tariffs-container__support {
        padding: 96px 10%;
    }

    .tariffs-container__help {
        padding: 96px 10%;
    }
}

@media (max-width: 1440px) {
    .tariffs-hero {
        .tariffs-hero__container {
            padding: 80px 64px 40px 64px;
        }
    }

    .tariffs-container__support {
        padding: 96px 64px;
    }

    .tariffs-container__help {
        padding: 96px 64px;
    }

    .tariffs-container__tariffs {
        padding: 80px 64px;

        .tariff-card {
            width: 416px;
        }
    }
}

@media (max-width: 1300px) {
    .tariffs-hero {
        .tariffs-hero__payment {
            .payment-selector {
                width: 564px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .tariffs-hero {
        .tariffs-hero__container {
            padding: 40px 32px;
        }

        .tariffs-hero__title {
            font-size: 40px;
            line-height: 48px;
        }
        
        .tariffs-hero__description {
            width: 564px;
        }
        
        .tariffs-hero__payment {
            gap: 48px;
            justify-content: space-between;
        
            .payment-selector {
                width: auto;
            }
        }
    }

    .tariffs-container__tariffs {
        padding: 32px 32px;
        gap: 16px;

        .tariff-card {
            width: 309px;
            padding: 24px;
    
            .tariff-card__header {
                gap: 8px;
    
                .header-image {
                    width: auto;
                    height: 48px;
                }
    
                .header-container {
                    padding: 0px !important;
    
                    .header-title {
                        font-size: 24px;
                        line-height: 29px;
                    }

                    .header-price {
                        .header-price__value {
                            font-size: 28px;
                            line-height: 20px;
                        }
    
                        .header-price__caption {
                            font-size: 12px;
                            line-height: 15px;
                        }
                    }
                }
            }
    
            .tariff-card__features {
                .features-item {
                    p {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    .tariffs-container__support {
        padding: 40px 32px;
        gap: 24px;

        .support-header {
            .support-header__caption {
                font-size: 14px;
                line-height: 17px;
            }
    
            .support-header__title {
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
            }
        }

        .support-container {
            width: 100%;
            height: auto;
            gap: 10px;
            justify-content: space-between;
            padding: 0px !important;
            z-index: 3;
    
            .support-list {
                width: auto;
                grid-column-gap: 24px;
    
                .support-list__item {
                    width: 203px;
                }
            }
        }
    }

    .tariffs-container__help {
        padding: 40px 32px;
        gap: 24px;

        .help-header {
            .help-header__title {
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
            }
        }

        .help-container {
            padding: 32px;
            gap: 32px;
    
            .help-container__text {
                width: calc(100% - 64px - 88px - 172px);
                height: auto;
                gap: 8px;
            }
    
            .help-container__title {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 768px) {
    .tariffs-hero {
        .tariffs-hero__container {
            padding: 32px 24px;
        }

        .tariffs-hero__title {
            font-size: 24px;
            line-height: 29px;
        }
        
        .tariffs-hero__description {
            width: 100%;
        }
        
        .tariffs-hero__payment {
            gap: 16px;
            justify-content: start;
            align-items: start;
            flex-direction: column-reverse;
        
            .payment-selector {
                width: 100%;
            }
        }
    }

    .tariffs-container__tariffs {
        padding: 32px 32px;

        .tariff-card {
            max-width: 351px;
            width: auto;
            min-width: 309px;
        }
    }

    .tariffs-container__support {
        padding: 32px 32px;

        .support-header {
            gap: 4px;

            .support-header__caption {
                font-size: 12px;
                line-height: 15px;
            }
    
            .support-header__title {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
            }
        }

        .support-container {
            flex-direction: column;
            gap: 48px !important;

            .support-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 16px;
    
                .support-list__item {
                    width: 168px;
    
                    p {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
    
            .support-image__container {
                width: 100%;
                padding: 40px 0px !important;
                z-index: 2;
            }
        }
    }

    .tariffs-container__help {
        padding: 32px 32px;
        gap: 24px;

        .help-header {
            .help-header__title {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
            }
        }

        .help-container {
            padding: 24px;
            gap: 24px;
    
            .help-container__text {
                width: calc(100% - 48px - 88px - 172px);
                height: auto;
                gap: 8px;
            }
    
            .help-container__title {
                font-size: 18px;
                line-height: 21px;
            }

            .help-container__description {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

@media (max-width: 680px) {
    .tariffs-container__help {
        .help-container {
            flex-direction: column;
            align-items: center;
            padding: 16px;
            gap: 16px;
    
            .help-container__text {
                width: 100%;
                height: auto;
                gap: 8px;
            }
    
            .help-container__title {
                font-size: 14px;
                line-height: 17px;
            }

            .help-container__description {
                font-size: 12px;
                line-height: 14px;
            }
        }

        .help-container button {
            width: 100%;
        }
    }
}

@media (max-width: 420px) {
    .tariffs-container__support {
        .support-container {
            .support-list {
                align-items: start;

                .support-list__item {
                    width: 150px;
                }
            }
        }

        .support-controller button {
            width: 100%;
        }
    }
}

@media (max-width: 375px) {
    .tariffs-hero {
        .tariffs-hero__container {
            padding: 24px 16px;
        }
    }

    .tariffs-container__tariffs {
        padding: 24px 16px;
        gap: 16px;

        .tariff-card {
            width: 100%;
            gap: 16px;

            .tariff-card__header {
                gap: 8px;
    
                .header-image {
                    width: 56px;
                    height: 56px;
                }
    
                .header-container {
                    padding: 0px !important;
    
                    .header-title {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
    
            .tariff-card__features {
                gap: 4px;

                .features-item {
                    p {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }

    .tariffs-container__support {
        padding: 24px 16px;

        .support-header {
            .support-header__title {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .tariffs-container__help {
        padding: 24px 16px;

        .help-header {
            .help-header__title {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}