/* Products */
.tariffs-hero {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #FFFFFF 0%, #EFF8FF 100%);
    -webkit-background: linear-gradient(180deg, #FFFFFF 0%, #EFF8FF 100%);
    -moz-background: linear-gradient(180deg, #FFFFFF 0%, #EFF8FF 100%);
    position: relative;
    font-family: Gilroy;
    color: var(--dark-color);
}

.tariffs-hero__ellipse-1 {
    position: absolute;
    width: 635px;
    height: 635px;
    left: 441px;
    top: 156px;
    background: rgba(0, 170, 255, 0.12);
    border-radius: 50%;
    filter: blur(130px);
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.tariffs-hero__ellipse-2 {
    position: absolute;
    width: 1074px;
    height: 1080px;
    left: 1098px;
    top: -288px;
    background: rgba(0, 238, 255, 0.1);
    border-radius: 50%;
    filter: blur(130px);
    -webkit-filter: blur(130px);
    -moz-filter: blur(130px);
    will-change: transform;
    z-index: 1;
}

.tariffs-hero__container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 23% 40px 23%;
    gap: 16px;
    z-index: 3;
}

.tariffs-hero__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
}

.tariffs-hero__description {
    width: 700px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
}

.tariffs-hero__payment {
    width: 100%;
    height: auto;
    gap: 96px;
    align-items: end;
    transition: all 0.3s ease;

    .payment-selector {
        width: 700px;
        height: auto;
        gap: 16px;

        .payment-selector__label {
            font-size: 16px;
            font-weight: 600;
            line-height: 23px;
            text-align: left;

            .text-gradient {
                background: linear-gradient(85.63deg, #1C007F 0%, #A70096 25.11%, #FF005E 50.02%, #FF7800 75.18%, #FFBB00 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }
    }

    .payment-controllers {
        width: auto;
        height: auto;
        padding: 8px;
        border-radius: 8px;
        background-color: var(--white-color);
        gap: 4px;

        .payment-button {
            width: auto;
            height: 51px;
            appearance: none;
            outline: none;
            border: none;
            padding: 16px 24px;
            background-color: var(--white-color);
            border-radius: 4px;
            gap: 2px;
            cursor: pointer;
            transition: all 0.3s ease;

            &.payment-button__active {
                height: 61px;
                background-color: var(--blue-color);

                .payment-button__label {
                    color: var(--white-color);
                }

                .payment-button__caption {
                    color: var(--white-color);
                }
            }

            &:hover {
                height: 61px;
                background-color: var(--blue-color);

                .payment-button__label {
                    color: var(--white-color);
                }

                .payment-button__caption {
                    color: var(--white-color);
                }
            }

            .payment-button__label {
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                text-align: center;
                color: var(--blue-color);
                transition: all 0.3s ease;
            }

            .payment-button__caption {
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                text-align: center;
                color: var(--blue-color);
                transition: all 0.3s ease;
            }
        }
    }
}

.tariffs {
    width: 100%;
    height: auto;
    position: relative;
    font-family: Gilroy;
    color: var(--dark-color);
    z-index: 1;
}

@media (max-width: 1920px) {
    .tariffs-hero__container {
        padding: 80px 10% 40px 10%;
    }
}

@media (max-width: 1440px) {
    .tariffs-hero__container {
        padding: 80px 64px 40px 64px;
    }
}

@media (max-width: 1024px) {
    .tariffs-hero__container {
        padding: 40px 32px;
    }
}

@media (max-width: 768px) {
    .tariffs-hero__container {
        padding: 32px 24px;
    }
}

@media (max-width: 375px) {
    .tariffs-hero__container {
        padding: 24px 16px;
    }
}