.button {
    width: auto;
    height: auto;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 16px 0px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        border-radius: 8px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}

.button-primary {
    height: 51px;
    background-color: var(--blue-color);
    padding: 16px 24px;

    p {
        color: var(--white-color);
    }
}

.button-secondary {
    height: 49.5px;
    box-shadow: 0 0 0 1.5px var(--blue-color);
    background-color: var(--white-color);
    padding: 16px 24px;

    p {
        color: var(--blue-color);
    }
}

.button-alternative {
    height: 51px;
    background-color: var(--white-color);
    padding: 16px 24px;

    p {
        color: var(--blue-color);
    }
}

.button-header__primary {
    height: 49px;
    background-color: var(--blue-color);
    padding: 16px 24px;
    
    p {
        font-size: 14px;
        line-height: 17px;
        color: var(--white-color);
    }
}

.button-header__secondary {
    height: 47.5px;
    box-shadow: 0 0 0 1.5px var(--blue-color);
    background-color: var(--white-color);
    padding: 16px 24px;

    p {
        font-size: 14px;
        line-height: 17px;
        color: var(--blue-color);
    }
}

@media (max-width: 768px) {
    .button {
        gap: 4px;
    }

    .button-primary {
        height: 34px;
        padding: 8px 16px;
    }

    .button-secondary {
        height: 32.5px;
        padding: 8px 16px;
    }

    .button-header__primary {
        height: 34px;
        padding: 8px 16px;
    }

    .button-header__secondary {
        height: 32.5px;
        padding: 8px 16px;
    }
}